.header-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 90px;
    position: fixed;
    background-color: white;
    padding: 24px 15% 0 15%;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (max-width: 768px) {
        padding: 24px 5% 0 5%;
    }

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 24px;

        li {
            list-style-type: none;
            color: #888e94;
        }
    }

    .header-left {
        img {
            height: 18px;
        }

        ul {
            gap: 32px;
        }
    }
}