@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: auto;
    font-family: "Rubik",
        sans-serif;
    padding: 24px 0;

    >*:not(.support, .banner, .bottom-cta, .header) {
        width: 70%;
        margin: auto;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 120px;

        >* {
            width: 35%;
        }
    }

    p {
        line-height: 21px;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 21px
    }

    a {
        color: #0bbfff;
        text-decoration: none;
    }
}