.banner {
    background-color: #f0f5fa;
    padding: 32px 0;

    .banner-body {
        img {
            width: 320px;
        }

        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin-bottom: 16px;
        }
    }
}